<section class="section-container">
  <main class="main-container">
    <div class="parent">
      <div class="div1" *ngIf="service.isMainContainersActive">
        <h1 class="myTitle">Time</h1>
        <h1 class="myTitle">Calculator</h1>
      </div>
      <div class="div2" >
        <form [formGroup]="service.checkoutForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="name"> Start Date: </label><br />
            <input
              id="name"
              type="text"
              formControlName="firstUserInput"
              placeholder="mm/dd/yyyy"
            />
          </div>

          <div>
            <label for="address"> End Date: </label><br />
            <input
              id="address"
              type="text"
              formControlName="secondUserInput"
              placeholder="mm/dd/yyyy"
            />
          </div>

          <button class="btn-calc" type="submit">Calculate</button>
          <button class="btn-reset"  (click)="handleReset()">RESET</button>
        </form>
      </div>

      <div class="div3" *ngIf="service.displayInvalidMessage  ? true : null"><h1>Invalid input.</h1></div>
      <div class="div4" *ngIf="service.isMainContainersActive"><app-year></app-year></div>
      <div class="div5" *ngIf="service.isMainContainersActive"><app-month></app-month></div>

      <div class="div6" *ngIf="service.isMainContainersActive">
        <app-weeks></app-weeks>
      </div>
      <div class="div7" *ngIf="service.isMainContainersActive"><app-days></app-days></div>
      <div class="div8" *ngIf="service.isMainContainersActive"><app-hours></app-hours></div>
      <div class="div9" *ngIf="service.isMainContainersActive"><app-seconds></app-seconds></div>
    </div>
  </main>
</section>

