$small-pixel: 10px;
@mixin downAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  height: 50%;
}
@mixin upAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  height: 50%;
}

.section-container {
  width: 900px;
  height: 100vh;
  // background-color: rgb(236, 174, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.main-container {
  //   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div1 {
  grid-area: 1 / 2 / 2 / 4;
  background-color: lightblue;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  @include downAlignment;
}
.myTitle {
  display: block;
  text-align: center;
  margin: 10px;
  font-size: 3rem;
}
// Input
.div2 {
  grid-area: 2 / 2 / 3 / 4;
  background-color: #354259;
  color: #ece5c7;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: $small-pixel;
}

input[type="text"] {
  margin-top: $small-pixel;
  margin-bottom: $small-pixel;
  width: 300px;
  height: 40px;
  border-radius: $small-pixel;
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  background-color: #d5d5d6;
  color: #354259;
}
label {
  font-size: 1.3em;
}
form .btn-reset{
  background-color: rgb(248, 94, 94) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-weight: bolder;
  color: white;
  font-size: 1.2em;
}
.btn-calc {
  width: 100%;
  height: 50px;
  margin-top: $small-pixel;
  cursor: pointer;
  background-color: #E3FCBF;
  border-radius: 10px;
  transition: all 150ms;
  font-weight: bolder;
  font-size: 1.2em;

}
.btn-calc:hover{
  transform: scale(1.04);
}
.btn-reset{
  margin: 0 auto;
  width: 100px;
  height: 50px;
  margin-top: $small-pixel;
  cursor: pointer;
}

// -----------------------------------------------------------
.div3 {
  grid-area: 3 / 2 / 4 / 4;
  background-color: rgb(248, 193, 193);
  height: 65px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bolder;
}
.div3 h1{
  margin: 0;
}
.div4 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: lightgoldenrodyellow;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  @include downAlignment;
}
.div5 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: lightgray;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
// days
.div6 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  @include upAlignment;
}

.div7 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: lightgrey;
  @include downAlignment;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.div8 {
  grid-area: 2 / 4 / 3 / 5;
  background-color: lemonchiffon;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
// Seconds
.div9 {
  grid-area: 3 / 4 / 4 / 5;
  background-color: lightslategrey;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  @include upAlignment;
}


// boooooooooooooooooxes
.year-box{
    width: 50px;
    background-color: lightsteelblue;
    margin: 10px;
}

// * MEDIA QUERIES * //@at-root
@media only screen and (max-width: 940px) {
  .section-container {
    width: 100%;
  }
  .parent {
    gap: 1px;
    display: flex;
    flex-direction: column;
  }
  .div7 {
      width: 100%;
  }
  .div4 {
      width: 100%;
  }
  .div2{
      width: 90%;
      border-radius: 0;

  }
  .section-container {
  }
}
